*{
    box-sizing: border-box;
}


.header{
    height: 140px;
    background-image: linear-gradient(0, #e4b5a7, #161414);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    margin: 6px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
/* hover and pointer  */
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.no-hover {
    cursor: text;
    color: #fff;
}
/* and hover pointer of header */

.header__navbar-item--strong{
    font-weight: 700;
}

.header__navbar-item-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FB9086;
    height: 17px;
    right: -10px;
    top: 0;
}

/* css for icon fontawsome */
.header__navbar-icon-link {
    color: #fff;
    text-decoration: none;
    margin: 0 4px;
}


/* Header QR */
.header__qr {
    width: 186px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 70%;
    top: -28px;
}

.hien__thi--qr:hover .header__qr {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    
    justify-content: space-between;
}


.header__ggplay-img {
    height: 15px;
    margin-left: 11px;
}

.header__appstore-img {
    height: 15px;
    margin-right: 11px;
}
/* And QR Code */

/* Header ThongBao */
.header__thongbao {
    position: absolute;
    top: 140%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: #fff;
    display: none;
    animation: fadeIn ease-in 0.4s;
    
}

.header__thongbao::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}

.hien__thi--thongbao:hover .header__thongbao {
    display: block;
}

.header__thongbao-header {
    height: 40px;
    background-color: #fff;
    cursor: default;
}

.header__thongbao-header h4 {
    color: #696868;
    margin: 0 0 0 12px;
    line-height: 40px;
}

.header__thongbao-list {
    padding: 0;
}

.header__thongbao-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__thongbao-item {
    list-style: none;
    background-color: #f0e0e0;
}

.header__thongbao-item:hover {
    background-color: #f7f7f7;
}

.header__thongbao-img {
    width: 42px;
    object-fit: contain;
}

.header__thongbao-info {
    margin-left: 12px;
}

.header__thongbao-name {
    color: rgb(24, 23, 23);
}

.header__thongbao-decriotion {
    color: #756F6E;
}

.header__thongbao-footer {
    text-align: center;
}

.header__thongbao-footer-btn {
    text-decoration: none;
    color: #696868;
}

.header__thongbao-footer-btn h4 {
    margin: 5px 0;
}
/* And Header ThongBao */

/* Modal */
.form {
    width: 500px;
}

.form__container {
    padding: 0 32px;
}

.form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.form__header-dangki {
    font-size: 20px;
    color: rgb(83, 81, 81);
}

.form__header-dangnhap {
    font-size: 20px;
    font-weight: 500;
    color: rgb(83, 81, 81);
    cursor: pointer;
    color: #f53e2d;

}

.form__container-link {
    text-decoration: none;
}

.form-header-link {
    text-decoration: none;
}

.form__form {
    margin-top: 20px;
}

.form_input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    border: 1.5px solid #dbdbdb;
    border-radius: 3px;
    outline: none;
}

.form__dieukhoan {
    margin-top: 20px;
}

.form__dieukhoan-text {
    text-align: center;
    color: rgb(83, 81, 81);
}

.form__dieukhoan-link {
    text-decoration: none;
    color: var(--primary-color);
}

.form__controls {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.form__socials {
    margin-top: 10px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.btn.btn--with-icon {
    background-color: rgb(232, 232, 241);
    padding: 10px 25px;
}

/* Login */
.form__dieukhoan-help {
    display: flex;
    justify-content: flex-end;
}

.form__dieukhoan-help--link {
    text-decoration: none;
    font-size: 18px;
    color: #696868;
}

.form__dieukhoan-help--link-ngangiua {
    display: block;
    height: 18px;
    margin: 0 14px;
    border: 0.5px solid #EAEAEA;
    
}

/* Header with Search */
.header-with-search {
    height: 92px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img--size {
    margin-left: 8px;
    color: #fff;
}

.header__logo-trangchu {
    text-decoration: none;
}

.header__search {
    background-color: #fff;
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    text-align: center;
    
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 0;
    font-size: 200;
    font-weight: 600;
    border-radius: 2px;
}

.header__search-btn {
    margin: 3px 5px;
    width: 60px;
    background-color: #f74a3a;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.header__search-btn-icon {
    color: #fff;
    font-weight: 100;
}

.header__giohang {
    width: 150px;
    text-align: center;
}

.header__giohang-icon {
    color: #fff;
    font-size: 30px;
}

/* header new */
#header {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a:hover {
    color: #D0D0D0;
}

#menu .item a {
    color:#121312;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

/* banner */
#banner{
    width: 100%;
    margin-top: 15px;
    
}

.banner__hieuung {
    display: flex;
    background-image: linear-gradient(0, #e4b5a7, #161414);
    border-radius: 4px;
}

.banner__thucan {
    margin-left: 15px;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
    margin-left: 15px;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    margin-bottom: 15px;
    margin-left: 15px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
/* and banner */

/* Container__Banner */
.container__bg {
    height: 385px;
    background-color: #fff;
}

.container__banner {
    margin-top: 30px;
}

.container__banner-left {
    height: 234px;
}

.container__banner-img1 {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.container__banner-imgs {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}




/* .container__banner-right {
    height: 235px;
    background-color: orange;
} */

.container__banner-r--top {
    height: 117px;
    margin-bottom: 5px;
}

.container__banner-r--bottom {
    height: 112px;
}

/* List and Product */
.app {
    background-color: #F5F5F5;
}

.container{
    background-color: #F5F5F5;
}

.container__product {
    margin-top: 30px;
    
}

.container__list {
    height: 400px;
    background-color: #fff;
    border-radius: 3px;
}

.container__list-icon {
    font-size: 15px;
}

.container__list-danhmuc {
    margin: 0;
    padding: 0 20px;
    padding-top: 21px;
}

.container__list-sanpham {
    padding: 0 20px;
}

.container__list-link {
    text-decoration: none;
    list-style-type: none;
}

.container__list-item {
    border-bottom: 1px solid #696868;
    padding: 13px 0;
    color: #2b2929;
}

.container__list-item:hover {
    color: #f53e2d;
}

.container__sellect {
    height: 62px;
    background-color: hsl(0deg 1% 80% / 57%);
    align-items: center;
    display: flex;
    border-radius: 3px;
}

.container__sellect-sapxep {
    padding: 0 15px;
    min-width: 90px;
}

.container__sellect-btn {
    min-width: 90px;
    width: 84px;
    height: 34px;
    margin-right: 10px;
    border: none;
    background-color: rgb(248, 242, 242);
    border-radius: 3px;
}

.container__sellect-btn:hover {
    background-color: #f53e2d;
    cursor: pointer;
}

.container__sellect-link {
    text-decoration: none;
    color: #2b2929;
}

.container__sellect-btn-gia {
    min-width: 90px;
    width: 120px;
    height: 34px;
    
    border: none;
    background-color: rgb(248, 242, 242);
    border-radius: 3px;
    
}





/* Product */
.items {
    height: 306px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
}

.items:hover{
    border: 1px solid #fe6433;
    border-radius: 3px;
} 

.item__img-img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.item__info-product {
    width: 100%;
    max-height: 70px;
}

.item__name {
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: 500;
}

.item__price {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.item__price-old {
    text-decoration: line-through red;
    font-weight: 800;
}

.item__price-current {
    font-weight: 800;
}


.item__timhieu {
    text-align: center;
    margin-top: 5px;
}

.item__timhieu-link {
    text-decoration: none;
    color: #f53e2d;
}

.item__timhieu-link:hover {
    color: black;
}

/* Lua chon */
.container__product-chonthem {
    height: 62px;
    padding: 10px 0;
}

.container__luachon {
    height: 100%;
    width: 100%;
    display: flex;
}

.container__luachon-link {
    text-decoration: none;
    align-items: center;
    padding: 0 15px;
}

.container__luachon-btn {
    padding: 10px 35px;
    border: none;
    border-radius: 3px;
}

.container__luachon-btn:hover {
    background-color: #f53e2d;
    cursor: pointer;
}

.container__luachon-icon {
    margin-top: 12px;
    font-size: large;
    color: #2b2929;
}

/* Footer */
.footer {
    border-top: 2px solid black;

}

.footer__wraper {
    height: 240px;
    margin-top: 80px;
}

.footer__span {
    margin-left: 37px;
    font-weight: 800;
}

.footer__wraper-list-link {
    list-style-type: none;
    padding: 6px 0;

}

.footer__wraper-link-a {
    text-decoration: none;
    color: #2b2929;
}

.footer__wraper-link-a:hover {
    color: #f53e2d;
}

.footer__wraper-link-icon {
    margin-left: 5px;
}

.footer__QR-img {
    height: 80px;
    width: 84px;
    margin-left: 0;
}

.footer__App-img {
    height: 20px;
    width: 84px;
}

/* Reponsive for header and Mua Hang*/

@media (max-width: 740px) { 
    .hien__thi--qr {
        display: none;
    }
    /* moblie */
    .header__navbar-item-link-none {
        display: none;
    }

    /* Mua hang */
    .wraper__chonmua {
        display: none;
    }


}

.wraper__buy {
    display: flex;
}

@media (min-width: 741px) and (max-width: 1007px){
    .hien__thi--qr {
        display: none;
    }

    .header__navbar-item-link-none {
        display: none;
    }

    /* Mua hang */
    .wraper__chonmua {
        display: none;
    }
}

/* @media (min-width: 1024px) and (max-width: 1239px) {
    .hien__thi--qr {
        display: none;
    }
    PC

}  */


/* Buy and Product  */
.wraper__buy {
    height: 1060px;
    /* background-color: #fff; */
    margin-top: 15px;
}

.wraper__buy-product {
    background-color: #fff;
    height: 450px;
}

.wraper__arrow {
    padding-top: 20px;
}

.arrow__link {
    text-decoration: none;
}

.fas__arrow-icon {
    color: #696868;
}

.arrow__btn {
    padding: 5px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
}

.arrow__btn:hover {
    background-color: #f53e2d;
}

.wraper__buy-product-img {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.wraper__buy-product-small-padding {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.wraper__buy-product-small {
    height: 80px;
    background-color: #fff;
}

.wraper__buy-product-small:hover {
    border: 1px solid #f53e2d;
    cursor: pointer;
}

.wraper__small-img {
    width: 100%;
    height: 100%;
    /* padding-left: 15px; */
}

.wraper__buy-product-xahoi {
    display: flex;
    padding: 31px;
    min-height: 100%;
}

.wraper__share-size {
    font-size: larger;
    font-weight: 500;
}

.wraper__share {
    border-right: 1px solid gray;
}

.fab-icon {
    padding: 0 2px;
}

.fa-facebook-messenger {
    color: #4755cc;
}

.fab-icon-icon {
    color: #050e61;
}

.fa-linkedin {
    color: red;
}

.fa-instagram-square {
    color: #2dc6f5;
}

.fas-icon {
    color: red;
}

.wraper__color-luachon {
    margin-top: 10px;
    background-color: #fff;
}

.wraper__buy-info {
    background-color: #fff;
    height: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 15px;
}

.info__info {
    font-size: x-large;
    font-weight: 600;
    color: #616060;
}

.info__danhgia-so {
    color: #696868;
}

.fa-star-icon {
    color: red;
}

.info__danhgia {
    display: flex;
    padding: 20px 0;
}

.info__danhgia-star {
    padding-right: 15px;
    border-right: 1px solid #2b2929;
}

.info__danhgia-star h3{
    margin: 0;
}

.info__danhgia-soluong {
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #616060;
}

.info__danhgia-daban {
    padding-left: 15px;
}

.wraper__xahoi-wraper {
    background-color: #fff;
    height: 70px;
}

.wraper__buy-info-sale {
    height: 80px;
    background-color: #fff;
    margin-top: 10px;
    padding-left: 15px;
    display: flex;
    padding-top: 10px;
}

.wraper__sale-old-old {
    text-decoration: line-through red;
}

.wraper__sale-current {
    padding-left: 9px;
}

.wraper__sale-current-current {
    color: #f53e2d;
}

.wraper__chonmua {
    margin-top: 10px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 15px;
}

.info__info-chitiet-li {
    color: #4d4c4c;
    font-weight: 600;
    margin-top: 20px;
}

.info__info-chitiet {
    font-size: large;
    font-weight: 600;
    color: #616060;
}

.info__danhgia-star-item {
    padding-left: 10px;
}

.fa-star-icon-item {
    padding-left: 5px;
    color: #f53e2d;
}

.arrow__link-giam {
    text-decoration: none;
}

.wraper__arrow-chonmua {
    padding: 10px 30px;
}

.arrow__btn-giam {
    padding: 10px 20px;
    background-color: #fe6433;
    border: none;
    border-radius: 2px;
}

.arrow__btn-giam:hover {
    border: 1px solid red;
    cursor: pointer;
}

.wraper__Chitiet-bg {
    min-height: 500px;
    background-color: #F5F5F5;
}

.wraper__Chitiet-danhgia {
    padding: 20px 20px;
    margin-bottom: 15px;
    color: #2b2929;
    font-size: large;
    font-weight: 600;
}

.Wraper_footer-chonthem {
    margin-top: 0px;
    
    background-color: #fff;
}

.wraper__Chitiet-avatar {
    display: flex;
    padding: 10px;
}

.wraper__Chitiet-avatar {
    padding-left: 15px;
    padding-bottom: 15px;
}

.wraper__Chitiet-avatar-icon {
    padding-right: 20px;
}

.fas__icon-avatar {
    font-size: x-large;
    color: #756F6E;
    margin-left: 10px;
}

.wraper__Chitiet-star {
    padding: 10px 0;
}

.wraper__Chitiet-ten {
    color: #2b2929;
    font-weight: 600;
}

.grid_2 {
    width: 100%;
    display: block;
    padding: 0;
}

.grid_2.wide_2 {
    max-width: 1200px;
    margin: 0 auto;
}

/*  */
